body {
	font-size: 16px;
	color: #fff;
	padding: 0;
}

#header-nav {
	background-color: grey;
	border-radius: 0;
	border: 0;
}

h1 {
	font-weight: bold;
	color: black;
	font-size: 2.5em;
}

button {
	border: 1px solid black;
	clear: both;
	margin-top: 100px;
	background-color: #929287;
}

#nav-list {
	margin-top: 10px;
}

#icon-bar {
	color: black;
}

h2 {
	color: black;
	font-weight: bold;
	margin-bottom: 30px;
	margin-top: 20px;
	font-size: 2.5em;
}

#main-content h3 {
	font-weight: bold;
	color: black;
	text-align: center;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 0;
}

#main-content {
	background-color: #929287;
	color: black;
	padding: 10px;
}

@media (min-width: 768px) {
	#header-nav{
		height: 100px;
	}

	#main-content h3 {
	font-size: 2em;
}
}

@media (max-width: 767px) {
  

  #collapsable-nav { /* Collapsed nav menu text */
    font-size: 1.2em;
    text-align: center;
}

#main-content h3 {
	font-size: 2em;
}



